
#box{
    background-color:black;
}
#teams{
margin-left: 200px;

}
.section1{
    margin-top: 20px;
}
.footer1{
    background-image: linear-gradient(#fd7463,#ff9068);
}
#po{
    position: absolute;
    top: 10%;
}





